/**
 * #LAYOUT - Grid
 *
 * Usage:
 *   <section class="grid">
 *       <div class="grid-item"></div>
 *       <div class="grid-item"></div>
 *       <div class="grid-item--top"></div>
 *   </section>
 *
 * Limitations:
 *   - `.grid--gutters` cannot be applied to an element with `.wrap`,
       `.grid--gutters` would have to be a child of `.wrap`
 */

// Careful not to accidentally target `.grid-item`
[class="grid"],
[class*="grid--"],
[class*="row"] {
    @extend .clear;
    display: flex;
    flex-wrap: wrap;
}
    .grid--top,
    .row--top {
        align-items: flex-start;
    }
    .grid--bottom,
    .row--bottom {
        align-items: flex-end;
    }
    .grid--center,
    .row--bottom {
        align-items: center;
    }
    .grid--gutters,
    .row--gutters {
        margin: -$grid-gutter 0 0 (-$grid-gutter / 2);
        & > .grid-item, & > .column {
            padding: $grid-gutter ($grid-gutter / 2);
        }
    }


[class*="grid-item"],
[class*="column"] {
    flex: 1;
}
    .grid-item--top,
    .column--top {
        align-self: flex-start;
    }
    .grid-item--bottom,
    .column--bottom {
        align-self: flex-end;
    }
    .grid-item--center,
    .column--center {
        align-self: flex-center;
    }
    .grid-item--full, .grid-item--whole, .grid-item--100,
    .column--full, .column--whole, .column--100 {
        flex: 0 0 100%;
    }
    .grid-item--half, .grid-item--50,
    .column--half, .column--50 {
        @include media(">small") {
            flex: 0 0 50%;
        }
        @include media("<=small") {
            flex: 0 0 100%;
        }
    }
    .grid-item--third, .grid-item--33,
    .column--third, .column--33 {
        @include media(">small") {
            flex: 0 0 33.333%;
        }
        @include media("<=small") {
            flex: 0 0 100%;
        }
    }
    .grid-item--fourth, .grid-item--quarter, .grid-item--25,
    .column--fourth, .column--quarter, .column--25 {
        @include media(">medium") {
            flex: 0 0 25%;
        }
        @include media("<=medium") {
            flex: 0 0 50%;
        }
        @include media("<=small") {
            flex: 0 0 100%;
        }
    }
    .grid-item--fifth, .grid-item--20,
    .column--fifth, .column--20 {
        @include media(">medium") {
            flex: 0 0 20%;
        }
        @include media("<=medium") {
            flex: 0 0 100%;
        }
    }
    .grid-item--sixth, .grid-item--16,
    .column--sixth, .column--16 {
        @include media(">medium") {
            flex: 0 0 16.666%;
        }
        @include media("<=medium") {
            flex: 0 0 33.333%;
        }
        @include media("<=small") {
            flex: 0 0 100%;
        }
    }
