/**
 * #LAYOUT - Grid
 * TODO: Move into layout folder
 *
 * Usage:
 *   <section class="grid">
 *       <div class="grid-item"></div>
 *       <div class="grid-item"></div>
 *       <div class="grid-item"></div>
 *   </section>
 *
 * Limitations:
 *   - `.grid` cannot also be applied to an element with `.wrap`
 */

.grid {
    display: flex;
}
    .grid--top {
        align-items: flex-start;
    }
    .grid--bottom {
        align-items: flex-end;
    }
    .grid--center {
        align-items: center;
    }
    .grid--gutters {
        margin: -#{$grid-gutter} 0 0 -#{$grid-gutter};
        & > .grid-item {
            padding: #{$grid-gutter} 0 0 #{$grid-gutter};
        }
    }


.grid-item {
    flex: 1;
}
    .grid-item--top {
        align-self: flex-start;
    }
    .grid-item--bottom {
        align-self: flex-end;
    }
    .grid-item--center {
        align-self: flex-center;
    }
    .grid-item--full {
        flex: 0 0 100%;
    }
    .grid-item--half {
        @include media(">small") {
            flex: 0 0 50%;
        }
        @include media("<=small") {
            flex: 0 0 100%;
        }
    }
    .grid-item--third {
        @include media(">small") {
            flex: 0 0 33.3333%;
        }
        @include media("<=small") {
            flex: 0 0 100%;
        }
    }
    .grid-item--fourth, .grid-item--quarter {
        @include media(">medium") {
            flex: 0 0 25%;
        }
        @include media("<=medium") {
            flex: 0 0 50%;
        }
        @include media("<=small") {
            flex: 0 0 100%;
        }
    }





